@page
@model Biblioteka.Pages.Clients.IndexModel
@{
}
<br>
<h2>Lista Wypożyczeń Biblioteki Adam's Library</h2>
<a class='btn btn-primary btn-sm' href='/Clients/Create'>Nowe Wypożyczenie</a>
<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Imię i Nazwisko</th>
			<th>Tytuł Książki</th>
			<th>Numer Telefonu</th>
			<th>Data Zwrotu Książki</th>
			<th>Utworzone dnia</th>
			<th>Akcja</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.listClients)
		{
			<tr>
				<td>@item.id</td>
				<td>@item.name</td>
				<td>@item.title</td>
				<td>@item.phone</td>
				<td>@item.returnn</td>
				<td>@item.created_at</td>
				<td>
					<a class="btn btn-primary btn-sm" href="/Clients/Edit?id=@item.id">Edycja</a>
					<a class="btn btn-danger btn-sm" href="/Clients/Delete?id=@item.id">Usuń</a>
				</td>
			</tr>
		}
	</tbody>
</table>